<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if(err.length) %>
    <ul>
        <% err.forEach(err =>{%>
            <li><%= err %></li>
        <%})%>
    </ul>

    <form action="/register" method="post">    
        <input type="text" placeholder="username"  name="username">
        <input type="text" placeholder="password" name="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>